* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(34,193,195);
background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}
.box{
    padding-top:20px;
    width: 30%;
    height: 70vh;
    background:rgba(248, 222, 222, 0.767)0;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
}

.box::after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
    }

i {
        font-size: 50px;
        margin-right: 10px;
 }
 
 .location{
     margin-top:1.5rem;
     text-align:center;
     font-weight: 700;
     font-size: 25px;
     color:rgb(2, 2, 3);
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
    }
.fa-street-view{
    animation: rotates 3s linear infinite alternate;
    color:rgba(54, 9, 255, 0.829);
}
@keyframes rotates {
    from{
        transform: translateX(-0.5rem);
    }
    to{
        transform: translateX(0.5rem);
    }
}

 .temp{
     display:flex;
     justify-content: center;
     justify-content: space-around;
     margin-top:1.5rem;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 
 .if{
     display: flex;
     justify-content: center;
     justify-content: space-around;
     align-items: center;
     margin-top:1.5rem;
     padding-right: 25px;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .if2{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-top:1.5rem;
    padding-right: 9px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 .fa-thermometer-full{
    color: rgb(255, 17, 0);
}
.fa-thermometer-empty{
  color:green;
}
.fa-tint{
    color:rgba(12, 8, 248, 0.87);
}
.fa-renren{
    color:rgb(131, 87, 6)
}
.fa-map-signs{
   color:rgb(21, 34, 9)
}
.fa-ravelry{
   color:rgb(6, 47, 75);
}
.weathericon{
    display: block;
    border-radius: 10px;
    width: 200px;
    height: 110px;
    color: white;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 15px;
}
.weatherWidgetRow{
    display:block;
    margin: auto;
    margin-left: 180px;
    margin-right: 100px;
    width: fit-content;
}

.fa-sun-o{
    margin-top: 10px;
    color: rgb(255, 136, 0);
    filter: drop-shadow( 1px 1px 10px yellow);
    justify-content: center;
    font-size: 6rem;
}

.fa-moon-o{
    margin-top: 10px;
    color: white;
    filter: drop-shadow( 1px 1px 10px white);
    font-size: 5rem;
}

.cloudDiv{
    margin-top: -40px;
}

.fa-cloud{
    color: rgba(94, 230, 223, 0.973);
    filter: drop-shadow( 1px 1px 5px rgb(210, 233, 240));
    animation-name: cloudMovement;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    font-size: 5rem;
}

@keyframes cloudMovement{
    from{margin-left: -55px;}
    to{margin-left: 65px;}
}
@media only screen and (max-width: 600px){
    .weatherWidgetRow{
        display:block;
        margin: auto;
        width: fit-content;
    }
}
.time{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color:darkgreen;
    margin-top:10px;
    margin-bottom: 10px;
}