<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather_App_component </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    <div [ngClass]="'container'">
    <div [ngClass]="'box'">
        <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; letter-spacing: 1px;">Weather App</h2>
        <div [ngClass]="'weathericon'">
            <div *ngIf="weatherInf.isDay" class="weatherWidgetRow">
                <i class="fa fa-sun-o" aria-hidden="true"></i>
            </div>   
            <div *ngIf="!weatherInf.isDay" class="weatherWidgetRow">
                <i class="fa fa-moon-o" aria-hidden="true"></i>
            </div>   
            <div class="weatherWidgetRow cloudDiv">
                <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
        </div>
        <h2 [ngClass]="'location'"><i class="fa fa-street-view" aria-hidden="true"></i>  {{weatherInf.name}} , <span>{{weatherInf.sys.country}}</span></h2>
        <div [ngClass]="'info'">
            <div [ngClass]="'temp'">
            <h4 [ngClass]="'hightemp'"><i class="fa fa-thermometer-full" aria-hidden="true"></i>{{weatherInf.temp_celcius}}&deg;C</h4>
            <h4 [ngClass]="'hightemp'"><i class="fa fa-thermometer-empty" aria-hidden="true"></i>{{weatherInf.temp_min}}&deg;C</h4>
            </div>
            <div [ngClass]="'if'">
                  <h4 [ngClass]="'pressure'"><i class="fa fa-renren" aria-hidden="true"></i>{{weatherInf.main.pressure}} Pa</h4>
                 <h4><i class="fa fa-tint" aria-hidden="true"></i>{{weatherInf.main.humidity}}%</h4>
             </div>
             <div [ngClass]="'if2'">
                 <h4><i class="fa fa-map-signs" aria-hidden="true"></i>{{weatherInf.wind.speed}}Km/hr</h4>
                 <h4><i class="fa fa-ravelry" aria-hidden="true"></i>{{weatherInf.wind.deg}} Ra</h4>
              </div>
        </div>
        <br>
        <h4 [ngClass]="'time'">Today is {{today | date:'fullTime'}}</h4>
        
    </div>
 </div>
</body>
</html>
















<!--<p>{{weatherInf.main.temp}}</p>
<p>{{weatherInf.coord.lon}}</p>
<p>{{weatherInf.coord.lat}}</p>
<p>{{weatherInf.weather.main}}</p>
<p>{{weatherInf.weather.description}}</p>
<p>{{weatherInf.main.feels_like}}</p>
<p>{{weatherInf.main.temp_min}}</p>
<p>{{weatherInf.main.temp_min}}</p>
<p>{{weatherInf.main.temp_max}}</p>
<p>{{weatherInf.main.humidity}}</p>
<p>{{weatherInf.main.pressure}}</p>
<p>{{weatherInf.sys.country}}</p>
<p>{{weatherInf.sys.sunrise}}</p>
<p>{{weatherInf.sys.sunset}}</p>
<p>{{weatherInf.name}}</p>--->